---
import { render } from 'astro:content'
import BaseLayout from '../../layouts/BaseLayout.astro'
import { formatLongDate } from '../../utils/date'
import { getReadingTime } from '../../utils/readingTime'
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'
import BlogStructuredData from '../../components/structured-data/BlogStructuredData.astro'

export async function getStaticPaths() {
  const blogs = await getCollection('blogs')
  return blogs.map((blog) => ({
    params: { slug: blog.id },
    props: { blog }
  }))
}

const { blog } = Astro.props

if (!blog) {
  return Astro.redirect('/404')
}

const { title, image, imageCaption, imageCredit, imageLink, publishedAt, description, metaDescription, status } = blog.data
const { Content } = await render(blog)
---

<BaseLayout {title} description={metaDescription || description} image={image.src} showMeter>
  <BlogStructuredData slot="structured-data" {...blog.data} />
  <article class="mt-2 lg:mt-4">
    <header>
      <time datetime={publishedAt.toISOString()} class="text-neutral-500 dark:text-neutral-400 block mb-4">
        <div class="flex flex-col sm:flex-row gap-x-3 gap-y-1 leading-tight text-sm">
          <span>
            {formatLongDate(publishedAt)}
          </span>
          <span class="hidden sm:inline-block">|</span>
          <span>
            {getReadingTime(blog.body || '')}
          </span>
        </div>
      </time>
      <h1 class="font-semibold text-balance">
        {title}
      </h1>

      <figure class="mt-6 font-normal text-balance">
        <a href={image.src} target="_blank">
          <Image
            src={image}
            alt={imageCaption}
            width={1900}
            height={900}
            class="mb-1 rounded w-full aspect-[11/5] object-cover"
            loading="eager"
          />
        </a>
        <figcaption class="text-xs text-neutral-500 dark:text-neutral-400 text-center">
          Background image by <a href={imageLink} class="text-neutral-700 dark:text-neutral-200" target="_blank">
            {imageCredit}
          </a>
          from Unsplash
        </figcaption>
      </figure>
    </header>

    <div class="mt-8">
      {status === 'draft' ? <p>Regrettably, the material is still in its draft stage.</p> : <Content />}
    </div>
  </article>
</BaseLayout>
