---
import Card from '../components/Card.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
import type { BlogProps } from '../layouts/Blog.astro'
import type { ProjectProps } from '../layouts/Project.astro'
import type { ReviewProps } from '../layouts/Review.astro'

const blogs = await Astro.glob<BlogProps>('./blog/*.md')
const latestBlog = blogs
  .filter((blog) => blog.frontmatter.status === 'published')
  .sort((a, b) => new Date(b.frontmatter.publishedAt).valueOf() - new Date(a.frontmatter.publishedAt).valueOf())[0]
const { title, description, image, publishedAt, imageCaption } = latestBlog.frontmatter

const projects = await Astro.glob<ProjectProps>('./project/*.md')
const latestProject = projects
  .filter((project) => project.frontmatter.status === 'published')
  .sort((a, b) => new Date(b.frontmatter.publishedAt).valueOf() - new Date(a.frontmatter.publishedAt).valueOf())[0]

const reviews = await Astro.glob<ReviewProps>('./review/*.md')
const latestReview = reviews
  .filter((review) => review.frontmatter.status !== 'draft')
  .sort((a, b) => new Date(b.frontmatter.publishedAt).valueOf() - new Date(a.frontmatter.publishedAt).valueOf())[0]
---

<BaseLayout showMeter>
  <div class="mt-2 lg:mt-6">
    <h1>Hi, Uncle Roy here!</h1>
    <p>
      I write tech, life, and book review thingy. If you're reading this, most likely you either:
      <ul>
        <li>found one of my blog from your browser's search result</li>
        <li>know my social media which has the link to this page</li>
      </ul>
      If we haven't crossed paths personally, I must apologize for not sharing my real identity or linking my social media to this
      page. You might discover my Github profile through my projects; however, it doesn't disclose much of my personal information.
    </p>

    <h2 class="mb-4 mt-6">Latest blog</h2>
    <Card {image} {title} {description} {publishedAt} imageAlt={imageCaption} link={latestBlog.url} />

    <div class="grid grid-cols-1 lg:grid-cols-2 lg:auto-rows-[1fr] gap-4">
      <div class="flex flex-col">
        <h2 class="mb-4 mt-6">Latest project</h2>
        <Card
          title={latestProject.frontmatter.title}
          description={latestProject.frontmatter.description}
          publishedAt={latestProject.frontmatter.publishedAt}
          link={latestProject.url}
          className="flex-grow"
        />
      </div>

      <div class="flex flex-col">
        <h2 class="mb-4 mt-2 lg:mt-6">Latest review</h2>
        <Card
          title={latestReview.frontmatter.title}
          description={latestReview.frontmatter.description}
          publishedAt={latestReview.frontmatter.publishedAt}
          link={latestReview.url}
          className="flex-grow"
        />
      </div>
    </div>
  </div>
</BaseLayout>
