---
import Footer from '../components/Footer.astro'
import Head from '../components/Head.astro'
import Nav from '../components/Nav.astro'

interface Props {
  title?: string
  description?: string
  image?: string
  showMeter?: boolean
}

const { title, description, image, showMeter } = Astro.props
const permalink = Astro.url.href
const desc = description || 'Little things about Rayhan'

const prefix = title ? `${title} | ` : ''
const pageTitle = `${prefix}rayhannr`
---

<html lang="en">
  <Head title={pageTitle} description={desc} {image} {permalink}>
    <slot name="structured-data" />
  </Head>
  <body class="min-h-screen flex flex-col text-sm md:text-base relative">
    <Nav {showMeter} />
    <main
      class="flex flex-col flex-1 px-4 sm:px-0 w-full sm:w-3/4 lg:w-1/2 prose dark:prose-invert prose-code:font-medium prose-h1:font-bold prose-h1:tracking-tighter prose-h2:font-bold prose-h2:tracking-tight prose-h3:font-medium prose-h3:tracking-tight prose-strong:font-semibold prose-neutral prose-a:no-underline m-auto"
    >
      <slot />
    </main>
    <Footer />
    <div class="absolute bottom-0 -scale-y-100 inset-x-0 flex justify-center overflow-hidden pointer-events-none">
      <div class="w-[108rem] flex-none flex justify-start md:justify-end opacity-50 dark:opacity-30">
        <img
          src="/images/base/soft-pattern.webp"
          alt="soft pattern background"
          class="w-[71.75rem] flex-none max-w-none dark:hidden"
        />
        <img
          src="/images/base/soft-pattern-dark.webp"
          alt="soft pattern background"
          class="w-[71.75rem] flex-none max-w-none hidden dark:block"
        />
      </div>
    </div>
  </body>
</html>
