---
import Footer from '../components/Footer.astro'
import Head from '../components/Head.astro'
import Nav from '../components/Nav.astro'

interface Props {
  title?: string
  description?: string
  image?: string
}

const { title, description, image } = Astro.props
const permalink = Astro.url.href
const desc = description || 'Little things about Uncle Roy'

const prefix = title ? `${title} | ` : ''
const pageTitle = `${prefix}uncle roy`
---

<html lang="en">
  <Head title={pageTitle} description={desc} {image} {permalink} />
  <body class="min-h-screen flex flex-col transition-all text-sm md:text-base relative">
    <Nav />
    <main class="flex flex-col flex-1 px-4 sm:px-0 w-full sm:w-3/4 lg:w-1/2 m-auto">
      <slot />
    </main>
    <Footer />
    <div class="absolute bottom-0 -scale-y-100 inset-x-0 flex justify-center overflow-hidden pointer-events-none">
      <div class="w-[108rem] flex-none flex justify-start md:justify-end opacity-50 dark:opacity-30">
        <img
          src="/images/base/soft-pattern.png"
          alt="soft pattern background"
          class="w-[71.75rem] flex-none max-w-none dark:hidden"
        />
        <img
          src="/images/base/soft-pattern-dark.png"
          alt="soft pattern background"
          class="w-[71.75rem] flex-none max-w-none hidden dark:block"
        />
      </div>
    </div>
  </body>
</html>
