---
import type { MarkdownLayoutProps } from 'astro'
import BaseLayout from './BaseLayout.astro'
import { formatLongDate } from '../utils/date'
import Title from '../components/typography/Title.astro'
import Paragraph from '../components/typography/Paragraph.astro'

export interface BlogProps {
  title: string
  image: string
  description: string
  imageAlt: string
  imageCaption: string
  publishedAt: string
  imageCredit?: string
  imageLink?: string
  status?: string
}

type Props = MarkdownLayoutProps<BlogProps>

const { title, image, imageAlt, imageCaption, imageCredit, imageLink, publishedAt, description, status } =
  Astro.props.frontmatter
const publishedDate = new Date(publishedAt)
---

<BaseLayout title={title} description={description} image={image}>
  <article class="mt-2 lg:mt-4">
    <header>
      <time datetime={publishedDate.toISOString()} class="text-slate-500 dark:text-slate-400 block mb-4">
        {formatLongDate(publishedDate)}
      </time>
      <Title>
        {title}
      </Title>

      <figure class="mt-6 font-normal text-balance">
        <img src={image} loading="lazy" alt={imageAlt} class="mb-1 rounded w-full" />
        <figcaption class="text-xs text-slate-500 dark:text-slate-400 text-center">
          {imageCaption}
        </figcaption>
        <figcaption class="text-xs text-slate-500 dark:text-slate-400 text-center">
          Background by <a href={imageLink} class="text-slate-700 dark:text-slate-200">{imageCredit}</a> from Unsplash
        </figcaption>
      </figure>
    </header>

    <div class="mt-8">
      {status === 'draft' ? <Paragraph>Regrettably, the material is still in its draft stage.</Paragraph> : <slot />}
    </div>
  </article>
</BaseLayout>
