---
import type { MarkdownLayoutProps } from 'astro'
import BaseLayout from './BaseLayout.astro'
import { formatLongDate } from '../utils/date'
import { getReadingTime } from '../utils/readingTime'

export interface BlogProps {
  title: string
  image: string
  description: string
  imageCaption: string
  publishedAt: string
  imageCredit?: string
  imageLink?: string
  status?: string
}

type Props = MarkdownLayoutProps<BlogProps>

const { rawContent, frontmatter } = Astro.props
const { title, image, imageCaption, imageCredit, imageLink, publishedAt, description, status } = frontmatter
---

<BaseLayout {title} {description} {image} showMeter>
  <article class="mt-2 lg:mt-4">
    <header>
      <time datetime={publishedAt} class="text-neutral-500 dark:text-neutral-400 block mb-4">
        <div class="flex flex-col sm:flex-row gap-x-3 gap-y-1">
          {formatLongDate(publishedAt)}
          <span class="hidden sm:inline-block">|</span>
          {getReadingTime(rawContent())}
        </div>
      </time>
      <h1 class="font-bold">
        {title}
      </h1>

      <figure class="mt-6 font-normal text-balance">
        <img src={image} alt={imageCaption} class="mb-1 rounded w-full aspect-[11/5] object-cover" />
        <figcaption class="text-xs text-neutral-500 dark:text-neutral-400 text-center">
          Background image by <a href={imageLink} class="text-neutral-700 dark:text-neutral-200">{imageCredit}</a> from Unsplash
        </figcaption>
      </figure>
    </header>

    <div class="mt-8">
      {status === 'draft' ? <p>Regrettably, the material is still in its draft stage.</p> : <slot />}
    </div>
  </article>
</BaseLayout>
