---
import type { MarkdownLayoutProps } from 'astro'
import BaseLayout from './BaseLayout.astro'
import { formatLongDate } from '../utils/date'
import { getReadingTime } from '../utils/readingTime'

export interface ReviewProps {
  title: string
  author: string
  description: string
  publishYear: string
  publishedAt: string
  rating: number
}

type Props = MarkdownLayoutProps<ReviewProps>
const { frontmatter, rawContent } = Astro.props
const { title, author, description, publishYear, publishedAt, rating } = frontmatter
---

<BaseLayout title={`${title} by ${author} Review`} {description} showMeter>
  <article class="mt-2 lg:mt-4">
    <header>
      <time datetime={publishedAt} class="text-neutral-500 dark:text-neutral-400 block mb-4">
        <div class="flex flex-col sm:flex-row gap-x-3 gap-y-1">
          {formatLongDate(publishedAt)}
          <span class="hidden sm:inline-block">|</span>
          {getReadingTime(rawContent())}
        </div>
      </time>
      <h1 class="font-bold">{title}</h1>
    </header>

    <div class="my-6">
      <ul class="my-0 text-neutral-500 dark:text-neutral-400">
        <li>
          <strong>Author:</strong>
          {author}
        </li>
        <li>
          <strong>Publish Year:</strong>
          {publishYear}
        </li>
        <li>
          <strong>Rating:</strong>
          {rating}/5
        </li>
      </ul>
    </div>

    <slot />
  </article>
</BaseLayout>
